<div class="container-fluid bg-primary">
  <app-nav></app-nav>
</div>
<h1 class="py-3 text-center">Welcome to TGH</h1>
<app-form class="d-flex justify-content-center"></app-form>
<!-- <form
  class="d-flex flex-column col-1"
  #userPost="ngForm"
  (ngSubmit)="onSubmit(userPost.value)"
>
  <label for="name">
    Name:
    <input type="text" name="name" ngModel placeholder="Name" required />
  </label>
  <label for="email">
    Email:
    <input type="text" name="email" ngModel placeholder="email" required />
  </label>
  <button type="submit">Submit Data</button>
</form> -->
<!-- <app-hero-form></app-hero-form> -->
